<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>타임리프 익히기</h1>
    <!-- th:text : 태그의 시작과 종료 태그 사이에 데이터를 출력 -->
    <p th:text="${#temporals.format(today, 'yyyy-MM-dd')}"></p>
    <!-- #temporals.format(날짜데이터, 날짜 형식) : 날짜 데이터를 문자열로 출력 -->
    <p>[[${#temporals.format(today, 'yyyy-MM-dd')}]]</p>
    <div th:object="${person}">
        <p th:text="|이름 : *{name}|"></p>
        <p th:text="|나이 : *{age}|"></p>
        <p>취미</p>
        <!-- th:each="변수 : 반복 가능한 변수" -->
        <ul th:each="hobby : *{hobbies}">
            <li th:text="${hobby}"></li>
            <!-- th:if="조건식" : th:if가 true면 태그 출력 -->
            <span th:if="${hobby == '운동'}">(대표 취미)</span>
        </ul>
    </div>

    <div>   <!-- th:object를 사용하지 않고 출력하기 -->
        <p th:text="|이름 : *{person.name}|"></p>
        <p th:text="|나이 : *{person.age}|"></p>
        <p>취미</p>
        <ul th:each="hobby : *{person.hobbies}">
            <li th:text="${hobby}"></li>
            <span th:if="${hobby == '운동'}">(대표 취미)</span>
        </ul>
    </div>
    <a th:href="@{/api/articles/{id}(id=${person.id})}">글 보기</a>
</body>
</html>