  /* CSS 기본 문법 ( 속성은 여러개 들어갈 수 있다. )
            선택자 {
              속성1 : 속성값1;
              속성2 : 속성값2;
              ...
            } */
/* CSS 작성 방식
1. 인라인 스타일 : html 문서의 태그 요소에 style 속성을 넣어서 css를 작성
2. 내부 스타일 시트 : html 문서에 <head>태그 안에 <style>태그를 넣어서 css를 작성
3. 외부 스타일 시트 : css 파일을 하나 만들어서 css를 작성하고 html 파일에 <link>태그를 이용해 연결
*/

/* CSS 기본 선택자
1. 전체 선택자 ( * )
2. 타입 선택자 ( 태그명 )
3. class 선택자 ( .클래스명 ) : 여러 번 사용하거나, 중복해서 사용할 때 사용
4. id 선택자 ( #id명 ) : 하나의 요소에 사용할 때 사용
5. 여러 선택자를 사용할 때는 ,(콤마)를 이용해서 선택자를 나열한다.
*/

/*  CSS 우선순위
1. !important : { 속성 : 속성값 !important } 로 작성하면 된다.
2. 인라인 스타일
3. id 스타일 : id 선택자를 사용한 스타일
4. class 스타일 : class 선택자를 사용한 스타일
5. 타입 스타일 : 타입 선택자를 사용한 스타일
*/

/* CSS 상속 : 부모 태그의 스타일이 자식 태그가 별도의 스타일이 없을 때 상속된다.
      *** 모든 스타일 속성이 상속되는 것은 아니다. */

p{ color: black; }
h1{ color: brown !important; }
p{ color: blue; }