table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}

table {
  caption-side: bottom;
}

caption {
  text-align: right;
}

td {
  text-align: right;
}

.bgcolor {
  background-color: #e5f6f6;
}

/* ---------------------------------------- */

h1 {
  text-align: center;
  font-size: 3em;
  color: red;
}

h2 {
  text-align: center;
  font-size: 1.5em;
  color: blue;
}

p {
  text-align: center;
  font-size: 1.2em;
  line-height: 2em;
  font-weight: bold;
}

span {
  color: green;
}

#smalltext {
  font-size: 0.7em;
}