/* Box 모델 관련 속성 */
/* width 속성 : 가로 넓이를 지정 */
/* height 속성 : 세로 높이를 지정 */
/* box-sizing 속성 : width와 height를 어느 영역까지 설정할지 정함
        border-box ( width와 height의 크기를 테두리까지 설정 )
        content-box ( width와 height의 크기를 컨텐츠 영역까지 설정 ) */
/* box-shadow 속성 : 요소의 box에 그림자를 추가하는 속성
        <수평거리> <수직거리> <흐림정도> <번짐정도> <색상> inset/outset */
.box1{
  width : 400px;
  height : 200px;
  border : 10px solid black;
  box-sizing : border-box;
  box-shadow : 9px 9px 7px 2px yellow;
}
.box2{
    width : 70%;
    height : 200px;
}

/* 테두리 관련 속성 */
/* border-style 속성 : 테두리의 선 종류를 지정
        solid (직선) dotted(점선) dashed(짧은 직선) double(이중선) */
/* border-width 속성 : 테두리의 두께를 지정
        px단위의 크기 / thin / medium / thick
        속성 값은 top > right > bottom > left 순서로 지정된다
        적히지 않은 값은 마주보는 값이 설정된다 */
/* border-color 속성 : 테두리의 색상을 지정 */
/* border 속성 : 두께, 선 종류, 색상을 한 번에 지정
        ** border는 border-top / border-bottom / border-right / border-left를 사용해서 따로 따로 지정 가능하다 */
/* border-radius 속성 : 테두리의 모서리에 지정한 크기의 반지름으로 가지는 월을 그려서 테두리를 동그랗게 만들어 준다 */
.size {
  width: 150px;
  height: 150px;
}
.border1 {
  border-width: 2px;
  border-style: dotted;
  border-color: red;
}
.border2 {
  border-width: 5px 10px;
  border-style: dashed;
  border-color: blue;
}
.border3 {
  border-width: 1px 5px 10px;
  border-style: solid;
  border-color: green;
}
.border4 {
  /* border: 10px dotted orange; */
  border-bottom: 10px dotted orange;
}
.border5 {
  border: 2px solid black;
  border-radius: 10px;
}
.border6 {
  border: 2px solid black;
  /* border-radius: 50%; */
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

/* 여백을 조절하는 속성 */
/* margin 속성 : 요소와 요소 사이의 여백을 조절할 때 사용 ( 테두리 바깥 쪽 여백 ) */
/* padding 속성 : 테두리와 컨텐츠 사이의 여백을 조절할 때 사용 ( 테두리 안 쪽 여백 ) */
.margin1 {
  border: 1px solid black;
  margin: 10px;
}
.margin2 {
  border: 1px solid black;
  margin: 20px 10px;
}
.margin3 {
  border: 1px solid black;
  margin: 30px 20px 10px;
}
.margin4 {
  border: 1px solid black;
  margin: 40px 30px 20px 10px;
}
.margin5 {
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
}
.padding {
  border: 1px solid green;
  padding: 10px;
}

/* 웹 요소 배치 방법 바꾸기 */
/* display 속성 : 블록레벨 > 인라인레벨 / 인라인레벨 > 블록레벨 / 요소 > 인라인-블록 레벨로 변경 */
#menu { list-style: none; }
.menulist {
  display: inline-block;
  width: 100px;
  height: 40px;
  line-height: 40px;
  margin: 10px;
  border: 1px solid black;
  text-align: center;
}

/* float 속성 : 요소를 왼쪽이나 오른쪽으로 떠있게 배치한다. */
/* clear 속성 : float 속성을 해제하는 속성 */
.float {
  background: green;
  float: left;
}
.clear {
  clear: left;
}

/* 웹 요소의 위치를 이동하는 속성  */
/* 위치 조절 속성 ( top, bottom, left, right ) 4가지 속성을 이용해서 위치 이동 */
/* position 속성 : 웹 요소들을 배치하기 위한 속성
        static : 요소를 문서 흐름에 맞추어 배치 ( 위치 조절 불가 )
        relative : 요소를 문서 흐름에 맞추어 배치 ( 위치 조절 속성으로 조절 가능 )
        absolute : 부모 태그에 position : relative가 있으면 부모 태그를 기준으로 위치 조절 가능
        fixed : 스크롤과 관계없이 항상 화면에 그 자리에 배치 */
#static { position: static; }
#relative1 { position: relative; }
#relative2 {
  position: relative;
  left: 1opx;
  top: -50px;
}
#fixed {
  position: fixed;
  right: 30px;
  top: 30px;
}
.pbox {
  background: gray;
  border: 1px solid yellow;
}

#parent {
  width: 800px;
  height: 500px;
  background: black;
  position: relative;
}
#absolute {
  color: white;
  position: absolute;
  right: 100px;
  bottom: 100px;
}