/* 배경색과 배경 범위 지정하기 */
/* background-color 속성 : 배경 색을 지정 */
/* background-clip 속성 : 배경을 어디까지 적용시킬지 지정
        border-box(테두리까지) padding-box(패딩까지) content-box(컨텐트 영역까지) */
.box {
  width: 200px;
  height: 200px;
  border: 5px dotted black;
  padding: 10px;
  margin: 10px;
}
#clip-border {
  background-color: green;
  background-clip: border-box;
}
#clip-padding {
  background-color: yellow;
  background-clip: padding-box;
}
#clip-content {
  background-color: lightblue;
  background-clip: content-box;
}

/* 배경 이미지 지정하기 */
/* background-image 속성 : 배경 이미지를 지정하며 url(파일경로)로 작성한다 */
/* background-repeat 속성 : 배경 이미지 반복 여부 또는 반복 방향을 지정
        repeat / repeat-x(가로로) / repeat-y(세로로) / no-repeat(반복안함) */
#bg-image {
  width: 100%;
  height: 100px;
  background-image: url(../images/07_images/dot.png);
  background-repeat: no-repeat;
}

/* 배경의 위치 지정하기 */
/* background-position 속성 : 배경의 이미지를 반복하지 않을 경우 배경 이미지의 위치를 지정
        <수평위치> <수직위치>
        수평위치 " left center right 백분율 px단위
        수직위치 : top center bottom 백분율 px단위 */
 /* background-origin 속성 : 배경이미지를 어디를 기준으로 배치할지 지정
        border-box / padding-box / content-box */
/* background-attachment 속성 : 배경 이미지를 고정하는 속성
        scroll(스크롤과 배경이 같이 이동) / fixed(스크롤 이동과 관계없이 그 자리에 고정) */
#bg-posion {
  width: 200px;
  height: 200px;
  background-image: url(../images/07_images/dot.png);
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid black;
}
#origin1 {
  width: 200px;
  height: 200px;
  padding: 10px;
  margin: 10px;
  background-image: url(../images/07_images/dot.png);
  background-repeat: no-repeat;
  border: 5px dotted black;
  background-origin: padding-box;
}
#origin2 {
  width: 200px;
  height: 200px;
  padding: 10px;
  margin: 10px;
  background-image: url(../images/07_images/dot.png);
  background-repeat: no-repeat;
  border: 5px dotted black;
  background-origin: border-box;
}
#origin3 {
  width: 200px;
  height: 200px;
  padding: 10px;
  margin: 10px;
  background-image: url(../images/07_images/dot.png);
  background-repeat: no-repeat;
  border: 5px dotted black;
  background-origin: content-box;
}

body {
  background-image: url(../images/07_images/bg-2.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
}

/* background 속성 : 이미지, 반복, 위치, attachment를 한 번에 작성하는 속성 */
#bg {
  background: url(../images/07_images/dot.png) no-repeat center bottom;
  width: 100px;
  height: 100px;
  border: 10px solid yellow;
}

/* background-size 속성 : 배경의 크기를 지정해주는 속성 */
.bgbox {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  margin: 20px;
  background: url(../images/07_images/bg-2.jpg) no-repeat left top;
}
/* auto : 사진 크기 그대로 */
#bg1 { background-size: auto; }
/* 200px : 가로 넓이가 200px 세로 높이는 비율에 맞춰 자동 */
#bg2 { background-size: 200px; }
/* 50% : 가로 넓이가 지정된 태그의 50% 세로 높이는 비율에 맞춰 자동 */
#bg3 { background-size: 50%; }
/* 100% 100%% : 넓이와 높이가 지정된 태그의 크기에 100% 100%로 맞춘다 */
#bg4 { background-size: 100% 100%; }
/* contain : 요소 안에 배경 이미지가 다 보이도록 표시 */
#bg5 { background-size: contain; }
/* cover : 요소를 완전히 덮도록 배경 이미지를 표시 */
#bg6 { background-size: cover; }

/* 그라데이션 */
/* liner-gradient : 선형 그라데이션을 나타낸다
        to 방향 또는 각도, 색상 중지점 [, 색상 주지점, 색상 중지점] */
#lg1 {
  width: 300px;
  height: 300px;
  background: linear-gradient(to right bottom, blue, white);
}
#lg2 {
  width: 300px;
  height: 300px;
  background: linear-gradient(45deg, red, white);
}
#lg3 {
  width: 300px;
  height: 300px;
  background: linear-gradient(to bottom, blue, white 30%, blue);
}

/* 원형 그라데이션 */
/* radial-gradient : 원형 그라데이션을 나타낸다
        모양 크기 at 위치, 색상 중지점 [, 색상 중지점, ...] */
#rg1 {
  width: 500px;
  height: 300px;
  background: radial-gradient(ellipse, white, yellow, red);
}
#rg2 {
  width: 500px;
  height: 300px;
  background: radial-gradient(circle, white, yellow, red);
}

#rgs1 {
  width: 500px;
  height: 300px;
  background: radial-gradient(circle closest-side at 30% 40%, white, yellow, green);
}
#rgs2 {
  width: 500px;
  height: 300px;
  background: radial-gradient(circle closest-corner at 30% 40%, white, yellow, green);
}

/* 그라데이션 패턴 만들기 */
/* repeating-liner-gradient : 선형 그라데이션을 반복해서 나타낸다 */

#rlg1 {
  width: 500px;
  height: 300px;
  background: repeating-linear-gradient(yellow, yellow 20px, red 20px, red 40px);
}