* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { background: rgb(9, 100, 160) }

.card {
  position: relative;
  width: 300px;
  height: 500px;
  margin: 20px 10px;
  border: 1px solid black;
  background-color: white;
}

.words {
  position: absolute;
  left: 10px;
  top: 300px;
  padding: 10px;
  text-align: center;
}

/* 768px 이상 1439px 이하의 화면 */
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .card {
    width: 550px;
    height: 250px;
    margin: 20px 10px;
  }
  .words {
    left: 310px;
    top: 50px;
    width: 200px;
  }
}

/* 1440px 이상의 화면 */
@media screen and (min-width: 1440px) {
  .card {
    display: inline-block;
    width: 550px;
    height: 250px;
    margin: 10px;
  }
  .words {
    left: 310px;
    top: 50px;
    width: 200px;
  }
}