<?xml version="1.0" encoding="UTF-8" ?>
<configuration status="INFO">
    <Appenders>
        <!-- 로그 출력 형식 설정 -->
        <Console name="console" target="SYSTEM_OUT">
            <!-- 로그 출력 패턴 설정 -->
            <PatternLayout charset="UTF-8" pattern="%d{hh:mm:ss} %5p[%c] %m%n"/>
        </Console>
    </Appenders>
    <loggers>
        <!-- 가장 많은 정보 -> 치명적인 오류들 -->
        <!-- ALL -> TRACE -> DEBUG -> INFO -> WARN -> ERROR -> FATAL -> OFF -->
        <!-- org.springframework가 실행될 때 출력할 로그의 수준 설정 -->
        <logger name="org.springframework" level="INFO" additivity="false">
            <appender-ref ref="console"/>
        </logger>
        <!-- name : 로그를 출력할 패키지를 설정 -->
        <logger name="org.zerock" level="INFO" additivity="false">
            <appender-ref ref="console"/>
        </logger>
        <logger name="org.zerock.springex.mappers" level="TRACE" additivity="false">
            <appender-ref ref="console"/>
        </logger>
        <!-- 위에서 설정한 logger 이외의 코드에 대한 로그 설정 -->
        <root level="INFO" additivity="false">
            <AppenderRef ref="console"/>
        </root>
    </loggers>
</configuration>